{{!-- {{#zf-orbit nav-buttons=false}} --}}
<div class="orbit" role="region" aria-label="Gallery Photos" data-use-m-u-i="false" data-timer-delay="7000" data-auto-play="true" data-anim-in-from-right="slide-in-right" data-orbit>
    <ul class="orbit-container">
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/0519162152.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/0530161232.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/0402161652.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/0402161653.jpg">
            </figure>
        </li>
        {{!-- <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/DSC06709.jpg">
            </figure>
        </li> --}}
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_0439.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_2978.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_2980.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_2981.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_3021.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_3023.jpg">
            </figure>
        </li>
        {{!-- <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_3052.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_3053.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_3055.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_3076.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_3077.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/IMG_3079.jpg">
            </figure>
        </li> --}}
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/Picture_005.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/Picture_011.jpg">
            </figure>
        </li>
        <li class="orbit-slide">
            <figure class="orbit-figure">
                <img class="orbit-image" src="{{rootURL}}/assets/images/Picture_012.jpg">
            </figure>
        </li>
    </ul>
</div>
{{!-- {{/zf-orbit}} --}}
